@using B.U.Z.ViewModels
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
@model SesijaVM

    <head>
        <link rel="stylesheet" href="~/css/sesija/sesija.css" />
    </head>
    <body>
        <div id="mainAjax">
            <form asp-action="NoviCTSnimak" enctype="multipart/form-data" id="forma">
                <div id="leftColumn" class="form-group">
                    <div id="CTimgDiv">
                        <h4 id="close" onclick="zatvoriSliku()">x</h4>
                        <img src="~/Images/@Model.CTNalazSlikaPutanja" id="CTimg" onclick="otvoriSliku()" />
                    </div>
                    <div>
                        <input asp-for="SesijaId" hidden />
                    </div>
                    <div>
                        <div id="chooseBtnDiv">
                            <input asp-for="CTNalazSlika" class="btn" id="chooseBtn" />
                        </div id="chooseBtnDiv">
                    </div>
                    <div id="uploadBtnDiv">
                        <input type="submit" value="upload" class="btn" id="uploadBtn" />
                    </div>
                </div>
                <div id="rightColumn" class="form-group">
                    <label>Napomena:</label>
                    <textarea class="form-control" rows="7"></textarea>
                </div>
            </form>
        </div>
    </body>
    <style>
        #close {
            display: none;
            color: white;
        }

            #close:hover {
                cursor: pointer;
            }

        #CTimg {
            height: 50%;
            display: block;
            margin: auto;
        }

        #CTimgDiv {
            padding-top: 5%;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            margin-left: auto;
            margin-right: auto;
            margin-top: 2%;
        }

        #chooseBtn {
            width: 100%;
            padding: 2px;
            padding-left: 10px;
            padding-right: 10px;
            margin-top: 2%;
        }

        #chooseBtnDiv {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }

        #uploadBtn {
            padding: 2px;
            padding-left: 10px;
            padding-right: 10px;
            margin: 0;
        }

        #uploadBtnDiv {
            text-align: center;
            margin-top: 2%;
        }
    </style>
    <script>
        function otvoriSliku() {
            var imageDiv = document.getElementById("CTimgDiv");
            var image = document.getElementById("CTimg");
            var close = document.getElementById("close");

            imageDiv.style.position = 'absolute';
            imageDiv.style.top = 0;
            imageDiv.style.height = '100%';
            imageDiv.style.left = '50%';
            imageDiv.style.marginLeft = (imageDiv.offsetWidth / -2) + 'px';
            imageDiv.style.top = '50%';
            imageDiv.style.marginTop = (imageDiv.offsetHeight / -2) + 'px';
            imageDiv.style.padding = '0';

            image.style.height = '100%';

            close.style.display = 'block';
            close.style.position = 'absolute';
            close.style.left = (imageDiv.offsetWidth - image.offsetWidth) / 2 + 10 + "px";

            $("#CTimgDiv").appendTo("#SesijaBody");

        }
    </script>