@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout= null;
}

<div id="mainAjax">
    <div>
        <form>
            <div>
                <label>CT Snimak:</label>

            </div>
            <div>
                <label>Opis:</label>
                <input type="text" />
            </div>
        </form>
    </div>
</div>

<style>
    #mainAjax {
        background-color: #0C6980;
        color:white;
        padding:30px;
    }
</style>