@using B.U.Z.ViewModels
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
@model SesijaVM

<div id="mainAjax" onload="findOpis(); findPreporuka()">
    <div>
        <form>
            <div>
                <label>Dijagnoza:</label>
                <select asp-for="DijagnozaId" asp-items="Model.Dijagnoze" id="dijagnoze" onchange="findOpis(); findPreporuka()" ></select>
            </div>
            <div>
                <label>Opis:</label>
                <input type="text" readonly id="Opis" />
            </div>
            <div>
                <label>Preporuka:</label>
                <input type="text" readonly id="Preporuka" />
            </div>
            <div>
                <label>Napomena:</label>
                <input type="text" />
            </div>
        </form>
    </div>
</div>
<style>
    #mainAjax {
        background-color: #0C6980;
        color: white;
        padding: 30px;
    }
</style>

<script>
    function findOpis() {

        console.log("pozvana");
        var dijagnozaId = $("#dijagnoze").val();
        var url = '/Dijagnoze/getOpis?dijagnozaId=' + dijagnozaId;

        $.get(url, function (d) {
            $("#Opis").val(d);
        })
    }
    function findPreporuka() {

        var dijagnozaId = $("#dijagnoze").val();
        var url = '/Dijagnoze/getPreporuka?dijagnozaId=' + dijagnozaId;

        $.get(url, function (d) {
            $("#Preporuka").val(d);
        })
    }
</script>