@using B.U.Z.ViewModels
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
@model SesijaVM

<div id="mainAjax">
    <div>
        <form id="forma">
            <div id="leftColumn">
                <div>
                    <input type="text" hidden value="@Model.SesijaId" id="sesijaId" />
                </div>
                <div class="form-group">
                    <label>Dijagnoza:</label>
                    <select asp-for="DijagnozaId" asp-items="Model.Dijagnoze" id="dijagnoze" onchange="findOpis(); findPreporuka(); saveDijagnoza(@Model.SesijaId)" class="form-control"></select>
                </div>
                <div class="form-group">
                    <label>Opis:</label>
                    <input type="text" readonly id="Opis" class="form-control"/>
                </div>
                <div class="form-group">
                    <label>Preporuka:</label>
                    <input type="text" readonly id="Preporuka" class="form-control"/>
                </div>
            </div>
            <div id="rightColumn">
                <div class="form-group">
                    <label for="comment">Napomena:</label>
                    <textarea class="form-control" rows="7"></textarea>
                </div>
            </div>
            
        </form>
    </div>
</div>
<style>
    #leftColumn {
        float: left;
        width: 50%;
        padding-left: 5px;
        padding-right: 10px;
    }
    #rightColumn {
        float: left;
        width: 50%;
        padding-left: 10px;
        padding-right: 5px;
    }
    #forma {
        color: white;
        padding-left: 20px;
        padding-right: 20px;
    }
</style>

<script>
    $(document).ready(function () {
        loadDijagnoza();
    })

    function loadDijagnoza() {
        var sesija = $("#sesijaId").val();
        var url = '/Sesija/GetDijagnoza?SesijaId=' + sesija;

        $.get(url, function (d) {
            $("#dijagnoze").val(d);
            findOpis();
            findPreporuka();
        })
    }

    function findOpis() {

        var dijagnozaId = $("#dijagnoze").val();
        var url = '/Dijagnoze/getOpis?dijagnozaId=' + dijagnozaId;

        $.get(url, function (d) {
            $("#Opis").val(d);
        })
    }
    function findPreporuka() {

        var dijagnozaId = $("#dijagnoze").val();
        var url = '/Dijagnoze/getPreporuka?dijagnozaId=' + dijagnozaId;

        $.get(url, function (d) {
            $("#Preporuka").val(d);
        })
    }
    function saveDijagnoza(seijsaId) {

        var dijagnozaId = $("#dijagnoze").val();
        var url = "/Sesija/SaveDijagnoza?SesijaId=" + seijsaId + "&DijagnozaId=" + dijagnozaId;

        $.get(url, function (d) {
        })
    }

</script>