@using B.U.Z.ViewModels
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
@model SesijaVM;
<body>
    <head>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <script src="~/js/popper/popper.min.js"></script>
        <link rel="stylesheet" href="~/css/sesija/sesija.css" />
    </head>
    <div id="SesijaBody">
        <div id="main">
            <div id="header">
                <div id="pacijent">
                    <div id="pacijentSlika">
                        <img id="pacijentSlikaSlika" src="~/Images/media/male_avatar-512.webp" />
                    </div>
                    <div id="pacijentInfo"></div>
                    <div id="logo">
                        <img id="logoSlika" src="~/Images/media/buz_logo.png" />
                    </div>
                </div>
            </div>
            <div id="trenutniTermin"></div>
            <div id="body">
                <div id="sesijaInfo">
                    <div id="navbar">
                        <div class="container">
                            <nav id="SesijaNav" class="navbar navbar-light navbar-expand-sm">
                                <ul class="navbar-nav" style="margin-left:-1.5%;">
                                    <li class="nav-item>" id="opcija">
                                        <a class="nav-link navbar-light" style="color:white;" onclick="odaberiDijagnozu(@Model.SesijaId)">Dijagnoza</a>
                                    </li>
                                    <li class="nav-item>" id="opcija">
                                        <a class="nav-link" style="color:white;" onclick="odaberiTerapiju(@Model.SesijaId)">Terapija</a>
                                    </li>
                                    <li class="nav-item>" id="opcija">
                                        <a class="nav-link navbar-light" style="color:white;" onclick="odaberiLijek(@Model.SesijaId)">Lijek</a>
                                    </li>
                                    <li class="nav-item>" id="opcija">
                                        <a class="nav-link" style="color:white;" onclick="odaberiCTSnimak(@Model.SesijaId)">CT snimak</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div id="opcije">
                        <div id="ajaxPrikazOdabraneOpcije">

                        </div>
                    </div>
                </div>
                <div id="buttons">
                    <form>
                        <input type="submit" name="Odustani" value="Odustani" class="btn" id="odustaniBtn" />
                        <input type="submit" name="ZakaziNoviTermin" value="Zakazi novi termin" class="btn" id="zakaziBtn" />
                        <input type="submit" name="ZavrsiUslugu" value="Zavrsi uslugu" class="btn" id="zavrsiBtn" />
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    </footer>
    <script>

        function odaberiDijagnozu(sesija) {
            var url = "/Sesija/NovaDijagnoza?sesijaId=" + sesija;

            $.get(url, function (d) {
                $("#ajaxPrikazOdabraneOpcije").html(d);
            })
        }


        function odaberiTerapiju(sesija) {
            var url = "/Sesija/NovaTerapija?sesijaId=" + sesija;

            $.get(url, function (d) {
                $("#ajaxPrikazOdabraneOpcije").html(d);
            })
        }


        function odaberiLijek(sesija) {
            var url = "/Sesija/NoviLijek?sesijaId=" + sesija;

            $.get(url, function (d) {
                $("#ajaxPrikazOdabraneOpcije").html(d);
            })
        }


        function odaberiCTSnimak(sesija) {
            var url = "/Sesija/NoviCTNalaz?sesijaId=" + sesija;

            $.get(url, function (d) {
                $("#ajaxPrikazOdabraneOpcije").html(d);
            })
        }

    </script>
    </body> 