@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}




<head>
    <script src="~/js/popper/popper.min.js"></script>
    <link href="~/css/fullcalendar/main.css" rel="stylesheet" />
    <script src="~/js/fullcalendar/main.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="~/css/termini/pacijent-kalendar-style.css" />
</head>

<div id="kontejner">
    <div id="partialHome">
        <partial name="../Home/Index" />
    </div>

    
    <div id="calendar-container">
        <div id="frmZakazivanjeTermina">
            <input type="text" placeholder="text" />
        </div>
        <div id="calendar-pacijent-container-u-picku-materinu">
            <div id="calendar-pacijent"></div>
        </div>
        
    </div>


</div>




<script src="~/js/fullcalendar/kalendar-pacijent.js"></script>

