@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div style="float:left; height:1000px; width:200px;">
    <partial name="../Home/Index" />
</div>


<head>
    <script src="~/js/popper/popper.min.js"></script>
    <link href="~/css/fullcalendar/main.css" rel="stylesheet" />
    <script src="~/js/fullcalendar/main.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<h1>KALENDAR</h1>

<div id="calendar-pacijent"></div>

<script src="~/js/fullcalendar/kalendar-pacijent.js"></script>

