@using B.U.Z.ViewModels
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model UslugaVM


<head>
    <script src="~/js/popper/popper.min.js"></script>
    <link href="~/css/fullcalendar/main.css" rel="stylesheet" />
    <script src="~/js/fullcalendar/main.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="~/css/termini/pacijent-kalendar-style.css" />
    <script type="text/javascript" src="~/lib/shieldui/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="~/lib/shieldui/js/shieldui-all.min.js"></script>
    <script type="text/javascript" src="~/lib/shieldui/js/jszip.min.js"></script>
    <link rel="stylesheet" href="~/css/dateTimePicker/dateTimePickerStyle.css" />
    <link rel="stylesheet" href="~/css/Universal.css" />
    @*<script src="~/js/termini/dateTimePicker.js"></script>*@
</head>
<div id="mainContainer">
    <div id="partialHome">
        <partial name="../Home/Index" />
    </div>

    <div id="MainPageBody">
        <div id="pageContent">
            <div class="primarydark" id="ostatakBody-a">


                <input type="hidden" id="selectedUslugaId" />
                <div id="calendar-container">
                    <div id="frmZakazivanjeTermina">
                        <div class="theme-light">
                            <div class="mainDiv">
                                <div class="demoDiv" @*style="width: 100px"*@>
                                    @(Html.ShieldTimePicker()
                                            .Name("picker")
                                            .OpenOnFocus(false)
                                            .ShowButton(true)
                                            .Editable(false)
                                            .Min(new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day, 8, 0, 0))
                                            .Max(new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day, 17, 0, 0))
                            )
                                </div>
                            </div>
                        </div>
                        <button class="btn-primary" id="btnTerminDatalji" onclick="showTerminDetails()()">Zakaži</button>
                        <select asp-for="UslugaId" asp-items="Model.Usluge" id="usluge"></select>
                    </div>
                    <div id="calendar-pacijent-container">
                        <div id="calendar-pacijent"></div>
                    </div>
                    <input id="datum" onchange="setSelectedDate(this.value)" />
                    <input id="currentDate" />
                </div>
            </div>
        </div>
    </div>
</div>


<div id="selectedTermin">
    <a id="btnNazad" onclick="unSelectTermin()">X</a>
    <button id="btnZakaziTermin" class="btn-primary" onclick="zakaziTermin()">Zakaži</button>
    <h4 style="color: #0C6980;">Termin</h4>

    <table id="tableTermin">
        <tr>
            <th><b>Početak: </b></th>
            <td id="trmPocetak"></td>
        </tr>
        <tr>
            <th><b>Pacijent: </b></th>
            <td id="trmImePacijenta">@UserManager.FindByNameAsync(User.Identity.Name).Result.FirstName @UserManager.FindByNameAsync(User.Identity.Name).Result.LastName</td>
        </tr>
        <tr>
            <th><b>Usluga: </b></th>
            <td id="trmUsluga"></td>
        </tr>
        <tr>
            <th><b>Osnovna Cijena: </b></th>
            <td id="trmBasePrice"></td>
        </tr>
    </table>

</div>



<script src="~/js/fullcalendar/kalendar-pacijent.js"></script>
<script src="~/lib/shieldui/js/dateTimePicker.js"></script>

<style>
    .fc-sun {
        background-color: blue;
    }

    .fc-sat {
        background-color: red;
    }
</style>
