@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<head>
    <script src="~/js/popper/popper.min.js"></script>
    <link href="~/css/fullcalendar/main.css" rel="stylesheet" />
    <script src="~/js/fullcalendar/main.js"></script>
    <link rel="stylesheet" href="~/css/Universal.css" />
    <script src="~/lib/fullcalendar/locales/en-au.js"></script>
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.css" />
</head>

<div id="mainContainer">
    <div id="partialHome">
        <partial name="../Home/Index" />
    </div>

    <div id="MainPageBody">
        <div id="pageContent">
            <div class="primarydark" id="ostatakBody-a">
                <div id="calendar-pacijent-container">
                    <div id="calendar-pacijent-moji-termini"></div>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="~/js/fullcalendar/kalendar-pacijent-moji-termini.js"></script>
