@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<head>
    <link href="~/css/rounded-corners.css" rel="stylesheet" />
</head>

<div>
    <nav id="nav" class="navbar-expand-sm">
        <ul class="navbar-nav">
            <li class="rcTabHeader nav-item" id="partialNavItems">
                <a asp-controller="Termini" asp-action="Termini"
                   class="rcTabs nav-link navbar-light primary AktivniTermini">
                    Aktivni termini
                </a>
            </li>
            <li class="rcTabHeader nav-item" id="partialNavItems">
                <a asp-controller="Termini"
                   asp-action="NoviTermin"
                   class="rcTabs nav-link primary DodajNoviTermin">
                    Dodaj novi termin
                </a>
            </li>
        </ul>
    </nav>
</div>

