@model List<Termini>

<head>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="~/js/popper/popper.min.js"></script>
    <link href="~/css/fullcalendar/main.css" rel="stylesheet" />
    <script src="~/js/fullcalendar/main.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href="~/css/termini/termini.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/Universal.css" />
</head>

<div id="mainContainer">
    <div>
        <partial name="../Home/Index" />
    </div>

    <div id="MainPageBody">
        <div id="pageContent">

            <div id="mainContainerTermini">

                <div id="main_body">
                    <div id="termini">
                        <div>
                            <partial name="TerminiPartial" />
                        </div>

                        <div id="header-kalendar">
                            <div id="calendar-stomatolog"></div>
                        </div>

                        <div id="podaci">

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div id="selectedSesija">
    <a id="btnNazad" onclick="unSelectSesija()">X</a>
    <h4 style="color: #0C6980;">Termin</h4>
    <a id="btnZapocniSesiju" onclick="sendSesija()">Započni</a>

    <table style="width:100%" id="tableTermin">
        <tr>
            <th><b>Početak: </b></th>
            <td id="trmPocetak"></td>
        </tr>
        <tr>
            <th><b>Kraj: </b></th>
            <td id="trmKraj"></td>
        </tr>
        <tr>
            <th><b>Pacijent: </b></th>
            <td id="trmImePacijenta"></td>
        </tr>
        <tr>
            <th><b>Usluga: </b></th>
            <td id="trmUsluga"></td>
        </tr>
        <tr>
            <th><b>Osnovna Cijena: </b></th>
            <td id="trmBasePrice"></td>
        </tr>
    </table>
</div>


<div id="selectedTermin" class="popUP">
    <a id="btnNazad" onclick="unSelectTermin()">X</a>
    <h4 style="color: #0C6980;">Termin</h4>
    <button class="btn-primary" id="btnZapocniSesiju">Odobri</button>
    <button class="btn-primary" id="btnOdbijTermin">Odbij</button>

    <table style="width:100%" id="tableTermin">
        <tr>
            <th><b>Početak: </b></th>
            <td id="trmPocetak"></td>
        </tr>
        <tr>
            <th><b>Kraj: </b></th>
            <td id="trmKraj"></td>
        </tr>
        <tr>
            <th><b>Pacijent: </b></th>
            <td id="trmImePacijenta"></td>
        </tr>
        <tr>
            <th><b>Usluga: </b></th>
            <td id="trmUsluga"></td>
        </tr>
        <tr>
            <th><b>Osnovna Cijena: </b></th>
            <td id="trmBasePrice"></td>
        </tr>
    </table>
</div>

<script src="~/js/fullcalendar/kalendar-stomatolog.js"></script>
<script>
    //$(function () {
    //    $("#tabs").tabs();
    //});

    function unSelectSesija() {
        var selectedSesija = document.getElementById('selectedSesija');
        var mainContainer = document.getElementById('mainContainerTermini');
        selectedSesija.style.display = 'none';
        mainContainer.style.filter = 'blur(0px)';

    }

    function unSelectTermin() {
        document.getElementById('selectedTermin').style.display = 'none';
        mainContainer.style.filter = 'blur(0px)';
    }

    function odaberiTermin(TerminId) {
        var url = "/Termini/OdaberiTermin?t=" + TerminId;
        $.get(url, function (d) {
            $("#TerminOdabir").html(d);
        })
    }
</script>
