@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <nav id="TerminiNav" class="navbar navbar-light navbar-expand-sm">
        <ul class="navbar-nav" style="margin-left:-1.5%;">
            <li class="nav-item>">
                <a asp-controller="Termini" asp-action="Termini" 
                   class="nav-link navbar-light" 
                   style="color:white;">
                Aktivni termini</a>
            </li>
            <li class="nav-item>">
                <a asp-controller="Termini" 
                   asp-action="NoviTermin" 
                   class="nav-link" 
                   style="color:white;">
                Dodaj novi termin
                </a>
            </li>
        </ul>
    </nav>
</div>

<style>
    #LijekoviNav {
        background-color: #343a40;
    }
</style>