@using B.U.Z.ViewModels
@model PacijentiDodajVM

<link href="~/css/Universal.css" rel="stylesheet" />
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script src="~/js/Validation/NoviPacijent.js"></script>
<div id="mainContainer">

    <div>
        <partial name="../Home/Index" />
    </div>

    <div id="MainPageBody">
        @*<h1 style="color: #0C6980">Novi pacijent</h1>*@
        <div id="pageContent">

            <div id="partialNav">
                <partial name="PacijentiPartial" />
            </div>
            <div id="ostatakBody-a" class="primarydark">
                <form id="NoviPacijent" asp-action="SpasiNovogPacijenta">
                    <div>
                        <label>Redni broj:</label>
                        <input type="text" value="@Model.UkupnoPacijenata" />
                    </div>
                    <div>
                        <label>Ime:</label>
                        <input type="text" asp-for="Ime" />
                    </div>
                    <div>
                        <label>Prezime:</label>
                        <input type="text" asp-for="Prezime" />
                    </div>
                    <div>
                        <label>Datum rodjenja:</label>
                        <input type="text" asp-for="DatumRodjenja" />
                    </div>
                    <div>
                        <label>Grad:</label>
                        <select asp-for="GradId" asp-items="@Model.Gradovi"></select>
                    </div>
                    <div>
                        <label>Spol:</label>
                        <select asp-for="SpolId" asp-items="@Model.Spolovi"></select>
                    </div>
                    <div>
                        <label>Broj telefona:</label>
                        <input type="text" asp-for="BrojTelefona" />
                    </div>
                    <div>
                        <label>E-mail:</label>
                        <input type="text" asp-for="Email" />
                    </div>
                    <div>
                        <label>Lozinka:</label>
                        <input type="text" asp-for="PasswordHash" value="@Model.PasswordHash" />
                    </div>
                    <div>
                        <input type="submit" name="Spasi" value="Snimi" />
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>