<div class="container">
    <nav id="PacijentiNav"class="navbar navbar-expand-sm">
        <ul class="navbar-nav" style="margin-left:-15.5%;">
            <li class="nav-item>">
                <a asp-controller="Pacijenti" asp-action="Pacijenti" class="nav-link primary">Postojeći pacijenti</a>
            </li>
            <li class="nav-item>">
                <a asp-controller="Pacijenti" asp-action="NoviPacijent" class="nav-link primary" >Dodaj novog pacijenta</a>
            </li>
        </ul>
    </nav>
</div>

<style>
    #PacijentiNav {
    }
</style>

