@using B.U.Z.Models
@{ Layout = null;}
@model Lijekovi
    <link href="~/css/FormCss/lijekoviAjax.css" rel="stylesheet" />
<div class="primarydark">
    <div>
        <label style="padding-left:10px;">Odabrani lijek:</label>
    </div>
    <div id="formWrapper">
        <form asp-controller="Lijekovi" asp-action="SpasiNoviStariLijek">
            <div id="LijevaDesna">
                <div id="LijevaKolona">
                    <label>Šifra:</label>
                    <input class="inputs" type="text" asp-for="@Model.Id" />


                    <label>Naziv:</label>
                    <input class="inputs" type="text" asp-for="@Model.Naziv" />
                </div>
                <div id="DesnaKolona">
                    <label>Opis:</label>
                    <input class="inputs" type="text" asp-for="@Model.Opis" />

                    <input id="BtnUredi" class="badge-danger" type="submit" value="Uredi" />

                    <button ID="BtnObrisi" class="badge-danger"><a style="text-decoration:none; color:white;" href="/Lijekovi/ObrisiLijek?LijekId=@Model.Id">Obriši</a></button>
                </div>
            </div>
        </form>
    </div>
</div>