@model int

    <link href="~/css/Universal.css" rel="stylesheet" />

    <div id="mainContainer">
        <div>
            <partial name="../Home/Index" />
        </div>


        <div id="MainPageBody">
            @*<h1 style="color: #0C6980">Novi lijek</h1>*@
            <div id="pageContent">
                <div id="partialNav">
                    <partial name="LijekoviPartial" />
                </div>
                <div id="ostatakBody-a" class="primarydark">
                    <form asp-action="SpasiNoviLijek">
                        <div>
                            <label>Redni broj</label>
                            <input type="text" value="@Model" />
                        </div>
                        <div>
                            <label>Naziv</label>
                            <input type="text" name="Naziv" />
                        </div>
                        <div>
                            <label>Opis</label>
                            <input type="text" name="Opis" />
                        </div>
                        <div>
                            <input type="submit" name="Spasi" value="Snimi" />
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
