@using B.U.Z.ViewModels;
@model LijekoviUrediVM
<div style="float:left; height:1000px; width:200px;">
    <partial name="../Home/Index" />
</div>
<h1>Lijekovi</h1>
<div>
    <partial name="LijekoviPartial" />
</div>
<div id="formaDiv">
    <form asp-action="SpasiNoviStariLijek">
        <div>
            <input type="hidden" asp-for="@Model.Lijek_Id" />
        </div>
        <div>
            <label>Redni broj</label>
            <input type="text" asp-for="@Model.RedniBroj" />
        </div>
        <div>
            <label>Naziv lijeka</label>
            <input type="text" asp-for="@Model.Naziv" />
        </div>
        <div>
            <label>Opis lijeka</label>
            <input type="text" asp-for="@Model.Opis" />
        </div>
        <div>
            <input type="submit" name="Spasi" value="Snimi" />
        </div>
    </form>
</div>
<style>
    #formaDiv {
        color: white;
        background-color: #343a40;
        width: 80.6%;
        margin-left: 18.1%;
    }
</style>