<div class="container">
    <nav id="DentalnaPomagalaNav"class="navbar navbar-expand-sm">
        <ul class="navbar-nav" style="margin-left:-4%;">
            <li class="nav-item>">
                <a asp-controller="DentalnaPomagala" asp-action="DentalnaPomagala" class="nav-link" style="color:white;">Postojeća dentalna pomagala</a>
            </li>
            <li class="nav-item>">
                <a asp-controller="DentalnaPomagala" asp-action="NovoDentalnoPomagalo" class="nav-link" style="color:white;">Dodaj novo dentalno pomagalo</a>
            </li>
        </ul>
    </nav>
</div>

<style>
    #DentalnaPomagalaNav {
    }
</style>

