select {
    width: 100%;
    border: none;
}

.inputs {
    width: 100%;
    border: none;
    padding: 1%;
}

button {
    width: 100%;
    border: none;
}

#formWrapper {
    text-align: left;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#LijevaKolona {
    width: 45%;
    display: inline-block;
    vertical-align: top;
    margin-left: -3%;
}

#DesnaKolona {
    width: 45%;
    display: inline-block;
    vertical-align: top;
    margin-left: 10%;
}

.divovi {
    width: 80%;
    margin: 0 !important;
}

label {
    margin-top: 1%;
}

#Dugme {
    background-color: #00A8A8;
    color: white;
    border: none;
}

    #Dugme:hover {
        background-color: #C4DBE0;
        color: #0C6980;
    }

    #Dugme:active {
        background-color: #0C6980;
        color: white;
    }

#AjaxPrikazOdabranogPacijenta {
    box-sizing: border-box;
}

#BtnUredi {
    width: 45%;
    background-color: #00A8A8;
    color: white;
    display: inline;
    margin-right: 2%;
    margin-left: -3%;
    border: none;
    padding: 0.5%;
}

#BtnObrisi {
    width: 45%;
    display: inline;
    border: none;
    padding: 0.5%;
    margin-left: 8%;
}

#BtnUredi, #BtnObrisi {
    margin-top: 3% !important;
}

#PretraziDiv {
    margin-top: 2%;
}
