.mainDiv {
    text-align: center;
}

.theme-light {
    position:relative;
}

.demoDiv {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin: 10px;
}

.grp {
    width: 100%;
    display: block;
    margin-bottom: 10px;
}

.btn-custom {
    width: 120px;
    height: 33px;
    vertical-align: central;
    text-align: center;
    color: white;
    background-color: #84D3F5;
    font-weight: bolder;
    cursor: pointer;
    margin-bottom: 3px;
}

    .btn-custom:hover {
        padding-top: 3px;
        border-bottom: 3px solid #4D952F;
    }
