<div>
    <nav id="nav" class=" navbar-expand-sm">
        <ul class="navbar-nav">
            <li class="nav-item" id="partialNavItems">
                <a asp-controller="Dijagnoze" asp-action="Dijagnoze" class="nav-link primary PostojeceDijagnoze">Postojeće dijagnoze</a>
            </li>
            <li class="nav-item" id="partialNavItems">
                <a asp-controller="Dijagnoze" asp-action="NovaDijagnoza" class="nav-link primary DodajNovuDijagnozu">Dodaj novu dijagnozu</a>
            </li>
        </ul>
    </nav>
</div>

