<div class="container">
    <nav id="DijagnozeNav" class="navbar navbar-expand-sm">
        <ul class="navbar-nav" style="margin-left:-15.5%;">
            <li class="nav-item>">
                <a asp-controller="Dijagnoze" asp-action="Dijagnoze" class="nav-link primary">Postojeće dijagnoze</a>
            </li>
            <li class="nav-item>">
                <a asp-controller="Dijagnoze" asp-action="NovaDijagnoza" class="nav-link primary">Dodaj novu dijagnozu</a>
            </li>
        </ul>
    </nav>
</div>

<style>
    #DijagnozeNav {
    }
</style>

