@using B.U.Z.Models
@{ Layout = null;}
@model Dijagnoze
<div>
    <div>
        <label style="padding-left:10px;">Odabrana dijagnoza:</label>
    </div>
    <form asp-controller="Dijagnoze" asp-action="SpasiNovuStaruDijagnozu">
        <label>Šifra:</label>
        <input type="text" asp-for="@Model.Id" />

        <label>Naziv:</label>
        <input type="text" asp-for="@Model.Naziv" />

        <label>Opis:</label>
        <input type="text" asp-for="@Model.Opis" />

        <label>Preporuka:</label>
        <input type="text" asp-for="@Model.Preporuka" />

        <input class="badge-danger" type="submit" class="badge-danger" value="Uredi" />

        <button class="badge-danger"><a style="text-decoration:none; color:white;" href="/Dijagnoze/ObrisiDijagnozu?DijagnozaId=@Model.Id">Obriši</a></button>
    </form>

    

</div>