@model int
<div style="float:left; height:1000px; width:200px;">
    <partial name="../Home/Index" />
</div>
<h1>Recepti</h1>
<div>
    <partial name="DijagnozePartial" />
</div>
<div id="formaDiv">
    <form asp-action="SpasiNovuDijagnozu">
        <div>
            <label>Redni broj</label>
            <input type="text" value="@Model" />
        </div>
        <div>
            <label>Naziv dijagnoze</label>
            <input type="text" name="Naziv" />
        </div>
        <div>
            <label>Opis dijagnoze</label>
            <input type="text" name="Opis" />
        </div>
        <div>
            <label>Preporuka</label>
            <input type="text" name="Preporuka" />
        </div>
        <div>
            <input type="submit" name="Spasi" value="Snimi" />
        </div>
    </form>
</div>
<style>
    #formaDiv {
        color: white;
        background-color: #343a40;
        width:80.6%;
        margin-left:18.1%;
    }
</style>