@model int
<head>
    <link href="~/css/Universal.css" rel="stylesheet" />
    <link href="~/css/rounded-corners.css" rel="stylesheet" />
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script src="~/js/Validation/NovaDijagnoza.js"></script>
</head>
<div id="mainContainer">
    <div>
        <partial name="../Home/Index" />
    </div>

    <div id="MainPageBody">
        @*<h1 style="color: #0C6980">Nova dijagnoza</h1>*@
        <div id="pageContent">

            <div id="partialNav">
                <partial name="DijagnozePartial" />
            </div>

            <div id="ostatakBody-a" class="primarydark rcMainBody">
                <form id="NovaDijagnoza" asp-action="SpasiNovuDijagnozu">
                    <div>
                        <label>Redni broj:</label>
                        <input type="text" value="@Model" />
                    </div>
                    <div>
                        <label>Naziv:</label>
                        <input id="Naziv" type="text" name="Naziv" />
                    </div>
                    <div>
                        <label>Opis:</label>
                        <input id="Opis" type="text" name="Opis" />
                    </div>
                    <div>
                        <input type="submit" name="Spasi" value="Snimi" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>