@model int
<link href="~/css/Universal.css" rel="stylesheet" />
<link href="~/css/FormCss/manjeForme.css" rel="stylesheet" />
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script src="~/js/Validation/NoviRecept.js"></script>
<div id="mainContainer">
    <div>
        <partial name="../Home/Index" />
    </div>


    <div id="MainPageBody">
        @*<h1 style="color: #0C6980">Novi recept</h1>*@
        <div id="pageContent">
            <div id="partialNav">
                <partial name="ReceptiPartial" />
            </div>
            <div id="ostatakBody-a" class="primarydark">
                <div>
                    <div id="formWrapper">
                        <form id="NoviRecept" asp-action="SpasiNoviRecept">
                            <div style="text-align:left">
                                <div>
                                    <label>Redni broj:</label>
                                    <input type="text" value="@Model" />
                                </div>
                                <div>
                                    <label>Naziv:</label>
                                    <input type="text" name="Naziv" />
                                </div>
                                <div>
                                    <label>Opis:</label>
                                    <input type="text" name="Opis" />
                                </div>
                                <div>
                                    <input type="submit" name="Spasi" value="Snimi" id="Dugme" style="margin-top:4%;" />
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>