@using B.U.Z.Models
@{ Layout = null;}
@model Recepti
    <link href="~/css/FormCss/receptiAjax.css" rel="stylesheet" />
<div class="primarydark">
    <div>
        <label style="padding-left:10px;">Odabrani recept:</label>
    </div>
    <div id="formWrapper">
        <form asp-controller="Recepti" asp-action="SpasiNoviStariRecept">
            <div id="LijevaDesna">
                <div id="LijevaKolona">
                    <label>Šifra:</label>
                    <input class="inputs" type="text" asp-for="@Model.Id" />


                    <label>Naziv:</label>
                    <input class="inputs" type="text" asp-for="@Model.Naziv" />
                </div>
                <div id="DesnaKolona">
                    <label>Opis:</label>
                    <input class="inputs" type="text" asp-for="@Model.Opis" />

                    <label>Preporuka:</label>
                    <input class="inputs" type="text" asp-for="@Model.Preporuka" />
                </div>
                <input id="BtnUredi" class="badge-danger" type="submit" value="Uredi" />

                <button id="BtnObrisi" class="badge-danger"><a style="text-decoration:none; color:white;" href="/Recepti/ObrisiRecept?ReceptId=@Model.Id">Obriši</a></button>
            </div>
        </form>
    </div>

    

</div>