<div class="container">
    <nav id="ReceptiNav" class="navbar navbar-expand-sm">
        <ul class="navbar-nav" style="margin-left:-15.5%;">
            <li class="nav-item>">
                <a asp-controller="Recepti" asp-action="Recepti" class="nav-link primary">Postojeći recepti</a>
            </li>
            <li class="nav-item>">
                <a asp-controller="Recepti" asp-action="NoviRecept" class="nav-link primary">Dodaj novi recept</a>
            </li>
        </ul>
    </nav>
</div>

<style>
    #ReceptiNav {
    }
</style>

