@page
@model EmailViewModel
@{
    ViewData["Title"] = "Manage Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<h4>@ViewData["Title"]</h4>
@*<partial name="_StatusMessage" model="Model.StatusMessage" />*@
<div class="row">
    <div class="col-md-6">

        <form id="email-form" method="post" action="/Identity/Account/Manage/Email/SendEmailToUser">
            <div class="form-group">
                <label>To</label>
                <div class="form-group">
                    <input asp-for="To" id="emailTo" class="form-control" />
                </div>

                <div class="form-group">
                    <label>Subject</label>
                    <input asp-for="Subject" id="emailSubject" class="form-control" />
                </div>

                <div class="form-group">
                    <label>Body</label>
                    <textarea asp-for="Body" id="emailBody" class="form-control"></textarea>
                </div>

            </div>

            <input class="btn-primary" type="submit" value="Send"/>
                
        </form>

    </div>     
</div>

@*<script>

    let _to = document.getElementById("emailTo").value;
    let _subject = document.getElementById("emailSubject").value;
    let _body = document.getElementById("emailBody").value;

    function SendEmail() {
        $.ajax({
            url: '@Url.Action("SendEmailToUser")',
            method: 'POST',
            data: { to: _to, subject: _subject, body: _body },

            success: function (response) {
                console.log("success");
                console.log(response.responseText);
                c
            },

            error: function (response) {
                console.log("error");
                console.log(response.responseText);
            },

            failure: function response() {
                console.log("failure");
                console.log(response.responseText);
            }
        })
    }

</script>*@


