<div class="container">
    <nav id="UserAccountsNav" class="navbar navbar-light navbar-expand-sm">
        <ul class="navbar-nav" style="margin-left:-1.5%;">
            <li class="nav-item>">
                <a asp-controller="UserAccounts" asp-action="UserAccounts" class="nav-link navbar-light" style="color:white;">Postojeći useri</a>
            </li>
            <li class="nav-item>">
                <a asp-controller="UserAccounts" asp-action="NoviUserAccountStomatolog" class="nav-link" style="color:white;">Dodaj stomatologa</a>
            </li>
            <li class="nav-item>">
                <a asp-controller="UserAccounts" asp-action="NoviUserAccountAsistent" class="nav-link" style="color:white;">Dodaj asistenta</a>
            </li>
        </ul>
    </nav>
</div>

<style>
    #UserAccountsNav {
        background-color: #343a40;
    }
</style>
