@model List<ApplicationUser>
    <head>
        <link href="~/css/Universal.css" rel="stylesheet" />
        <link href="~/css/rounded-corners.css" rel="stylesheet" />
    </head>

    <div id="mainContainer">
        <div>
            <partial name="../Home/Index" />
        </div>
        <div id="MainPageBody">
            <div id="pageContent">
                <div id="partialNav">
                    <partial name="UserAccountsPartial" />
                </div>

                @*<h1 id="naslov">User accounts</h1>*@
                <div id="ostatakBody-a" class="rcMainBody">


                    <table id="tabela"  class="table rcMainTable">
                        <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Ime</th>
                                <th scope="col">Prezime</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var s in Model)
                            {
                                <tr>
                                    <td></td>
                                    <td>@s.Id</td>
                                    <td>@s.FirstName</td>
                                    <td>@s.LastName</td>
                                    @*<td><button class="badge-danger"><a style="color:white; text-decoration:none" ; href="/Lijekovi/ObrisiLijek?LijekId=@s.Id">Obriši</a></button></td>*@
                                    @*<td><button class="badge-danger"><a style="color:white; text-decoration:none" ; href="/Lijekovi/UrediLijek?LijekId=@s.Id">Uredi</a></button></td>*@
                                    @*<td><button class="badge-danger" onclick="OpenOdabraniLijek(@s.Id)">Select</button></td>*@
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
