@model List<ApplicationUser>

<div style="float:left; height:1000px; width:200px;">
    <partial name="../Home/Index" />
</div>

<h1>User accounts</h1>

<div>
    <partial name="UserAccountsPartial" />
</div>


<table class="table table-dark" style="width:80.7%;">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Ime</th>
            <th scope="col">Prezime</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var s in Model)
        {
            <tr>
                <td></td>
                <td>@s.Id</td>
                <td>@s.FirstName</td>
                <td>@s.LastName</td>
                @*<td><button class="badge-danger"><a style="color:white; text-decoration:none" ; href="/Lijekovi/ObrisiLijek?LijekId=@s.Id">Obriši</a></button></td>*@
                @*<td><button class="badge-danger"><a style="color:white; text-decoration:none" ; href="/Lijekovi/UrediLijek?LijekId=@s.Id">Uredi</a></button></td>*@
                @*<td><button class="badge-danger" onclick="OpenOdabraniLijek(@s.Id)">Select</button></td>*@
            </tr>
        }

    </tbody>
</table>