body {
    margin: 0;
    padding: 0;
}
#imageContainer
{
    width:100%;
    height:700px;
    margin:0;
    padding:0;
    background-image:url(/Images/media/background.jpg);
    background-position:center;
}
#backgroundImage
{
    width:100%;
    height:auto;
}
#layoutContainer {
    margin:0;
    width:100%;
    padding:0;
}
#layoutNavBar {
    position: fixed;
    z-index:2;
    height: 7%;
    width: 100%;
    margin: 0 !important;
    border: none !important;
    background-color: #0C6980;
    padding:0;
}
    #layoutNavBar .container {
        width: 100%;
        margin: 0;
        padding-left: 3%;
        padding-right: 3%;
        max-width: none !important;
    }

#buz{
    font-size:30px;
    color:white;
}

#layoutMain {
    width: 100%;
}
#textIndex
{
    color:white;
    width:40%;
    margin-left:8%;
    padding-top:15%;
    position:relative;
}